# Variables utilisées par docker-compose
BACKEND_PORT=8080
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=ibc_db
MYSQL_USER=ibc_user
MYSQL_PASSWORD=ibc_password
JWT_SECRET=change_me_super_secret
JWT_EXPIRES_IN=1d
JWT_COOKIE_TTL_MS=86400000
APP_BASE_URL=http://localhost
EMAIL_VERIFICATION_TTL_MS=86400000
SMTP_HOST=smtp.mail.ovh.net
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=notification@batouney.com
SMTP_PASSWORD=change_me
SMTP_FROM_NAME=Budgie
SMTP_FROM_EMAIL=notification@batouney.com
