# Variables utilisées par docker-compose
BACKEND_PORT=8080
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=ibc_db
MYSQL_USER=ibc_user
MYSQL_PASSWORD=ibc_password
JWT_SECRET=change_me_super_secret
JWT_EXPIRES_IN=1d
JWT_COOKIE_TTL_MS=86400000
