# App
BACKEND_PORT=8080
APP_BASE_URL=http://localhost

# MySQL
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=ibc_db
MYSQL_USER=ibc_user
MYSQL_PASSWORD=ibc_password

# Auth
JWT_SECRET=change_me_super_secret

# Email
SMTP_HOST=smtp.mail.ovh.net
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=notification@batouney.com
SMTP_PASSWORD=change_me
SMTP_FROM_NAME=Budgie
SMTP_FROM_EMAIL=notification@batouney.com

# Ethereum
ETH_WALLET_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266

# Anvil fork
ANVIL_FORK_URL=
ANVIL_FORK_BLOCK_NUMBER=

# USDC / abonnement
SUBSCRIPTION_TREASURY_ADDRESS=
SUBSCRIPTION_CORE_ADDRESS=
USDC_WHALE_ADDRESS=

# Auto-renew
AUTO_RENEW_RUNNER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
